# --- SÉCURITÉ (Vital) ---
.env
.env.local
!.env.example

# --- FRONTEND (React) ---
node_modules/
dist/
npm-debug.log*
yarn-debug.log*

# --- BACKEND (.NET) ---
# Important : cela va chercher les dossiers bin/obj partout, y compris dans BOS.Api
bin/
obj/
.vs/
*.user
appsettings.Development.json

# --- DONNÉES PROJET ---
Fichier_Log/*
!Fichier_Log/.gitkeep
Fichier_Clean/*
!Fichier_Clean/.gitkeep
Fichier_Brut/*
!Fichier_Brut/.gitkeep
Fichier_Ref
!Fichier_Ref/.gitkeep
Fichier_Ref.csv

# --- SYSTÈME ---
.vscode/
.idea/
.DS_Store
Thumbs.db